.landing-wrapper {
    display: flex;
    height: 100vh;
}

.pic-wrapper {
    align-items: center;
    display: flex;
}

img {
    border: dotted 3px #7a808e;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: auto;
    margin-left: calc(25vw - 13em);
    margin-right: calc(5vw + 3em);
    max-width: 25rem;
    min-width: 5rem;
    object-fit: contain;
    transition: all 0.13s ease-in;
}

img:hover {
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px) rotate(1deg);
}

.info-wrapper {
    flex: 1;
    margin-right: 2.5rem;
    margin-top: 4rem;
    width: 30%;
}

.text {
    display: flex;
    font-family: 'Yanone Kaffeesatz', serif;
    font-size: 100px;

    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;

        .letter {
            transform: translateY(40%);
        }

        .shadow {
            color: #999;
            transform: scale(1, -1);
        }
    }
}

.about-me {
    padding-right: 8rem;
}

.buttons-wrap-resume {
    flex-flow: column;
    display: flex;
    padding-right: 8rem;
}

@media screen and (min-width: 200px) and (max-width: 719px) {
    .landing-wrapper {
        flex-direction: column;
    }

    img {
        margin-left: calc(55vw - 13em);
        margin-right: calc(5vw + 3em);
        padding: 1rem;
    }

    .info-wrapper {
        width: 100%;
    }

    .about-me {
        display: flex;
        flex-wrap: wrap;
        padding-right: 0;
    }

    .buttons-wrap-resume {
        padding-right: 0;
    }

    .text {
        display: flex;
        font-family: 'Yanone Kaffeesatz', serif;
        font-size: 25px;

        .wrapper {
            .letter {
                transform: translateY(40%);
            }

            .shadow {
                transform: scale(1, -1);
                color: #999;
            }
        }
    }
}

@media screen and (min-width: 719px) and (max-width: 933px) {
    .info-wrapper {
        margin-top: 2rem;
    }

    img{
        margin-left: 1rem;
        width: 80%
    }

    .about-me {
        padding-right: 0;
        font-size: 15px;
    }

    .buttons-wrap-resume {
        padding-right: 0;
    }

    .text {
        display: flex;
        font-family: 'Yanone Kaffeesatz', serif;
        font-size: 25px;
    }
}
